body {
background-color: #EEEEEE;
margin: 0;
padding: 0;
}

header {
width: 1000px;
height: 100px;
margin: auto;
padding: 0;
position: relative;
}

header h1 {
margin-top: 0;
position: absolute;
top: 20%;
font-family: "News Cycle";
color: #2B3F48;
}


header ul {
height: 100px;
list-style-type: none;
margin: 0;
}

header ul li {
float: right;
padding: 3% 0 0 0;
font-family: "News Cycle";
font-size: 14px;
}

header ul li a {
display: block;
color: #2B3F48;
text-align: center;
letter-spacing: 1px;
padding: 10px 20px;
text-decoration: none;
}

header ul li a:hover {
color: #27AE61;
}

.button {
width: 250px;
height: 70px;
margin: auto;
background-color: #2B3F48;
border-radius: 10px;
}

.button > p {
text-align: center;
font-family: "News Cycle";
font-size: 17px;
word-spacing: 2px;
letter-spacing: 3px;
}

.button a {
display: block;
color: white;
text-decoration: none;
padding-top: 8%;
height: 50px;
}

[target="fond vert"] {
background-color: #27AE61;
}

[target="fond blanc"] {
background-color: white;
}

.vert {
color: #27AE61;
}

[target="lienblanc"] {
color: white;
}


section {
height: 840px;
}

[target="back"] {
background-image: url(images/banner.png);
background-color: #27AE61;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

article {
width: 1000px;
height: 840px;
margin: auto;
}

#cadre {
width: 900px;
height: 220px;
margin: 0 0 0 5%;
padding: 13% 0 0 0;
display: flex;
justify-content: center;
}

.pic {
margin: 0 20px 0 30px;
display: inline-block;
}


img {
border-radius: 50%;
width: 160px;
}

h2 {
text-align: center;
color: white;
font-size: 55px;
font-family: "News Cycle";
margin: 0 0 0 0;
}

.padh2 {
padding: 15% 0 0 0;
}

[target="soustitre en gris"] {
color: #2B3F48;
}

p.padp {
padding: 0 0 0 0;
margin: 10% 0 20% 0;
}

[target="texte en noir"] {
color: black;
opacity: 0.6;
}

[target="texte en blanc"] {
color: white;
}

[target="texte en blanc opac"] {
color: white;
opacity: 0.8;
}

.opac {
text-align: center;
font-size: 22px;
font-family: "News Cycle";
margin: 0 0 5% 0;
opacity: 0.6;
}

.opac2 {
text-align: center;
font-size: 17px;
font-family: "News Cycle";
margin: 0 0 8% 0;
}
footer {
width: 1000px;
height: 215px;
padding: 0;
margin: auto;
display: flex;
align-items: center;
justify-content: center;
}

footer p {
font-family: "News Cycle";
margin: auto;
word-spacing: 2px;
letter-spacing: 2px;
}

.noir {
opacity: 0.4;
}